.header {
  background: var(--color-foreground-50);
  color: var(--color-font);
  backdrop-filter: var(--blur-lg);
  -webkit-backdrop-filter: var(--blur-lg);
  padding: 1.5rem 2rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5),
    inset -1px -1px 4px rgba(155, 155, 155, 0.4),
    inset -4px -4px 13px rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0em;
  border: 2px solid var(--color-foreground);
  border-radius: 10em;

  &-background {
    background: var(--color-foreground-50);
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    &-image {
      align-items: center;
      width: 150px;
      margin-left: 2em;
      margin-top: -2em;
      margin-bottom: -2em;
    }
  }
  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin-right: 2em;
    &-item a {
      color: var(--color-font);
    }
  }
}

.site-header h1 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.05em;
}
