/* SCSS file converted from App.css */
html {
  min-height: 100%;
  background: var(--color-background);
  background-attachment: fixed;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // max-width: 100vw;
}

.main {
  max-width: 1295px;
  padding: 0 2em;
  margin: 0 auto;
  @media (max-width: 1024px) {
    padding: 0 1em;
  }
}

.hero {
  position: relative;
  min-height: 250px;
  background-color: var(--color-foreground); // solid color base
  margin-bottom: 2em;
  padding: 2em;
  border-radius: var(--radius-lg);
  overflow: hidden;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  h1,
  h2,
  h3 {
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    margin-top: 3em;
    margin-bottom: 0;
    align-items: start;
  }

  &__video {
    aspect-ratio: 16 / 9;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: var(--radius-md);
      border: none;
      box-shadow: var(--shadow-card);
    }
  }
}

.stack-on-mobile {
  @media (max-width: 768px) {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
}

.social-links {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  a {
    padding: var(--space-md);
    box-shadow: var(--shadow-pebble-big);
  }
}
